{
    "sharepoint_url" : "https://schneiderelectricfrsaipoc01.sharepoint.com/sites/IUT1/bdschneider/_api/",
    "access_token":"",
    "refresh_token":"",
    "client_id": "",
    "client_secret": ""
}
